@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="bg" id="parallax-1"></div>
    <h1 id="header-parallax">Wildflower Outdoor Learning Center</h1>
</section>

<div class="container pt-5 pb-5">
    <div class="row row-cols-1">
        <div class="col-12 text-center pb-2">
            <h1>Our Philosophy</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt ipsum sed est tempus consectetur. Nulla facilisi. Donec dignissim lorem quam. Integer eget lectus eros. Suspendisse lacinia fermentum ipsum, ac varius sem efficitur nec. Curabitur id tristique ante. Sed ex urna, finibus et tortor sit amet, iaculis convallis nibh. Pellentesque tortor quam, commodo eget nisi in, semper facilisis neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam auctor erat vitae suscipit convallis. Vivamus euismod ut arcu ut efficitur. Maecenas et eros at dolor accumsan aliquet quis eu est. Fusce sagittis ex a purus molestie, non vestibulum neque bibendum.

                Morbi eu massa varius, interdum neque vitae, iaculis diam. Sed vel luctus massa. Ut massa augue, tempor vitae pharetra quis, rhoncus sit amet ante. Quisque volutpat et leo varius dictum. Aenean sed tellus vitae elit commodo elementum. Integer porta ullamcorper quam at scelerisque. Nam justo ligula, blandit eget euismod in, facilisis vitae metus. Morbi id varius justo. Cras a gravida dolor. Aenean elementum in turpis ac posuere. Aliquam dictum aliquet est porta dignissim. Sed auctor ipsum vel vehicula dignissim. Proin vel velit bibendum nulla hendrerit dictum. In in rutrum justo. Ut at dui ullamcorper, scelerisque ante ac, tristique justo.

                Proin consectetur, orci sed euismod euismod, magna magna tincidunt libero, sed feugiat sapien arcu ac mauris. Aliquam dignissim nibh et rhoncus aliquam. Curabitur justo mi, suscipit quis leo at, ultricies cursus erat. Nam interdum volutpat ex, varius tincidunt sem egestas semper. Nam rhoncus interdum rutrum. Etiam viverra convallis nisl hendrerit faucibus. Praesent ac elit non ante vestibulum tristique vel non ante. Aliquam lectus purus, facilisis ac tincidunt ut, sodales et neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed eget lorem dignissim, maximus libero porta, cursus dolor. Nam aliquam ac nunc sed aliquet.

                In metus justo, molestie eget convallis nec, blandit et neque. Etiam pharetra faucibus erat ut rutrum. Duis turpis quam, suscipit vel massa at, facilisis tincidunt enim. Praesent semper eros consectetur maximus placerat. Praesent cursus dolor mattis, vehicula velit a, vulputate risus. Ut eget odio odio. Donec vestibulum ex nec ex ultrices, non condimentum nibh vulputate. Donec commodo maximus metus, eu congue mi convallis eu. Phasellus quis odio sit amet lorem cursus pharetra. Proin viverra orci vitae vehicula bibendum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque et malesuada eros. Nulla efficitur, risus et iaculis scelerisque, ipsum ante blandit neque, in rhoncus dui turpis quis dolor. Sed ornare metus nec neque tincidunt ullamcorper.

                Etiam nibh nibh, pulvinar vel lectus eu, maximus viverra neque. Morbi et condimentum erat, in posuere neque. Quisque finibus eget ex sed porttitor. Donec eleifend scelerisque luctus. Maecenas tincidunt orci sit amet tortor tempus, id eleifend lectus pellentesque. Quisque nec rhoncus eros. Quisque lacinia erat at quam luctus, nec maximus dolor volutpat. Curabitur in nisi posuere, sollicitudin enim ut, maximus enim. Quisque feugiat volutpat est at mollis. Morbi lacinia imperdiet tortor et volutpat. Etiam eu mattis velit.

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt ipsum sed est tempus consectetur. Nulla facilisi. Donec dignissim lorem quam. Integer eget lectus eros. Suspendisse lacinia fermentum ipsum, ac varius sem efficitur nec. Curabitur id tristique ante. Sed ex urna, finibus et tortor sit amet, iaculis convallis nibh. Pellentesque tortor quam, commodo eget nisi in, semper facilisis neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam auctor erat vitae suscipit convallis. Vivamus euismod ut arcu ut efficitur. Maecenas et eros at dolor accumsan aliquet quis eu est. Fusce sagittis ex a purus molestie, non vestibulum neque bibendum.

                Morbi eu massa varius, interdum neque vitae, iaculis diam. Sed vel luctus massa. Ut massa augue, tempor vitae pharetra quis, rhoncus sit amet ante. Quisque volutpat et leo varius dictum. Aenean sed tellus vitae elit commodo elementum. Integer porta ullamcorper quam at scelerisque. Nam justo ligula, blandit eget euismod in, facilisis vitae metus. Morbi id varius justo. Cras a gravida dolor. Aenean elementum in turpis ac posuere. Aliquam dictum aliquet est porta dignissim. Sed auctor ipsum vel vehicula dignissim. Proin vel velit bibendum nulla hendrerit dictum. In in rutrum justo. Ut at dui ullamcorper, scelerisque ante ac, tristique justo.

                Proin consectetur, orci sed euismod euismod, magna magna tincidunt libero, sed feugiat sapien arcu ac mauris. Aliquam dignissim nibh et rhoncus aliquam. Curabitur justo mi, suscipit quis leo at, ultricies cursus erat. Nam interdum volutpat ex, varius tincidunt sem egestas semper. Nam rhoncus interdum rutrum. Etiam viverra convallis nisl hendrerit faucibus. Praesent ac elit non ante vestibulum tristique vel non ante. Aliquam lectus purus, facilisis ac tincidunt ut, sodales et neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed eget lorem dignissim, maximus libero porta, cursus dolor. Nam aliquam ac nunc sed aliquet.

                In metus justo, molestie eget convallis nec, blandit et neque. Etiam pharetra faucibus erat ut rutrum. Duis turpis quam, suscipit vel massa at, facilisis tincidunt enim. Praesent semper eros consectetur maximus placerat. Praesent cursus dolor mattis, vehicula velit a, vulputate risus. Ut eget odio odio. Donec vestibulum ex nec ex ultrices, non condimentum nibh vulputate. Donec commodo maximus metus, eu congue mi convallis eu. Phasellus quis odio sit amet lorem cursus pharetra. Proin viverra orci vitae vehicula bibendum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque et malesuada eros. Nulla efficitur, risus et iaculis scelerisque, ipsum ante blandit neque, in rhoncus dui turpis quis dolor. Sed ornare metus nec neque tincidunt ullamcorper.

                Etiam nibh nibh, pulvinar vel lectus eu, maximus viverra neque. Morbi et condimentum erat, in posuere neque. Quisque finibus eget ex sed porttitor. Donec eleifend scelerisque luctus. Maecenas tincidunt orci sit amet tortor tempus, id eleifend lectus pellentesque. Quisque nec rhoncus eros. Quisque lacinia erat at quam luctus, nec maximus dolor volutpat. Curabitur in nisi posuere, sollicitudin enim ut, maximus enim. Quisque feugiat volutpat est at mollis. Morbi lacinia imperdiet tortor et volutpat. Etiam eu mattis velit.
            </p>
        </div>
    </div>
</div>

<section>
    <div class="bg" id="parallax-2"></div>
</section>